{% extends 'base.html.twig' %}

{% block title %}Terme{% endblock %}

{% block body %}
<br>
<p class="fs-1 text-center fw-bolder text-decoration-underline">Terme et condition</p>
<br>
<p class="fs-3 text-center fw-bolder">Introduction :</p>
<p class="text-break font-monospace fs-4 text-center fw-medium">
En utilisant ce site web, vous acceptez ces termes et conditions dans leur intégralité. Si 
    <br>vous êtes en désaccord avec ces termes et conditions ou une partie de ces termes et 
    <br>conditions, vous ne devez pas utiliser ce site web.
 </p>

<p class="fs-3 text-center fw-bolder">Utilisation du Site :</p>
<p class="text-break font-monospace fs-4 text-center fw-medium">
Vous ne devez pas utiliser ce site web de manière à causer, ou pouvant causer, des 
    <br>dommages au site ou une détérioration de la disponibilité ou de l'accessibilité du site.
    <br>
    <br>Vous ne devez pas utiliser ce site web de manière illégale, frauduleuse ou nuisible.</p>
    <br>

    <p class="fs-3 text-center fw-bolder">Accès Restreint :</p>
    <p class="text-break font-monospace fs-4 text-center fw-medium">
    L'accès à certaines zones de ce site web est restreint. Nous nous réservons le droit de 
    <br>restreindre l'accès à d'autres zones de ce site web, ou à l'ensemble de ce site web, à 
    <br>notre discrétion.</p>

    <p class="fs-3 text-center fw-bolder">Contenu de l'utilisateur :</p>
    <p class="text-break font-monospace fs-4 text-center fw-medium">
    En soumettant du contenu à ce site web, vous nous accordez une licence mondiale, 
    <br>irrévocable, non exclusive et sans redevance pour utiliser, reproduire, adapter, publier, 
    <br>traduire et distribuer votre contenu sur tout support existant ou futur.
<br>
<br>Votre contenu ne doit pas être illégal ou illicite, ne doit pas enfreindre les droits légaux
<br>de tiers, et ne doit pas être capable de donner lieu à une action en justice.</p>

<p class="fs-3 text-center fw-bolder">Aucune Garantie :</p>
<p class="text-break font-monospace fs-4 text-center fw-medium">
Ce site web est fourni "tel quel" sans aucune représentation ou garantie, expresse ou 
<br>implicite. Nous ne faisons aucune représentation ou garantie en ce qui concerne ce site 
<br>web ou les informations et matériels fournis sur ce site web.</p>

<p class="fs-3 text-center fw-bolder">Limitation de responsabilité :</p>
<p class="text-break font-monospace fs-4 text-center fw-medium">
Les informations contenues sur ce site sont aussi précises que possible et le site est
<br>périodiquement remis à jour, mais peut toutefois contenir des inexactitudes, des omissions ou des
<br>lacunes. Si vous constatez une lacune, erreur ou ce qui parait être un dysfonctionnement, merci de
<br>bien vouloir le signaler par email à *****@gmail.com en décrivant le problème de la manière la plus
<br>précise possible (page posant problème, type d’ordinateur et de navigateur utilisé, etc.).
<br>
<br>Tout contenu téléchargé se fait aux risques et périls de l'utilisateur et sous sa seule responsabilité.
<br>En conséquence, The District ne saurait être tenu responsable d'un quelconque
<br>dommage subi par l'ordinateur de l'utilisateur ou d'une quelconque perte de données consécutive
<br>au téléchargement.</p>

<p class="fs-3 text-center fw-bolder">Indemnité :</p>
<p class="text-break font-monospace fs-4 text-center fw-medium">
Vous vous engagez par les présentes à nous indemniser et à nous tenir indemnes de 
<br>toutes pertes, dommages, coûts, responsabilités et dépenses y compris, sans limitation, 
<br>les frais juridiques et toutes sommes payées par nous à un tiers en règlement d'une 
<br>réclamation ou d'un litige sur les conseils de nos conseillers juridiques encourus ou subis
<br>par nous découlant de toute violation par vous de toute disposition de ces termes et conditions.</p>

<p class="fs-3 text-center fw-bolder">Modifications :</p>
<p class="text-break font-monospace fs-4 text-center fw-medium">
Nous pouvons réviser ces termes et conditions de temps à autre. Les termes et conditions 
<br>révisés s'appliqueront à l'utilisation de ce site web à compter de la date de la publication 
<br>des termes et conditions révisés sur ce site web.</p>

<p class="fs-3 text-center fw-bolder"[votre juridiction], et tout litige relatif à ces termes et conditions sera soumis à la >Intégralité de l'Accord :</p>
<p class="text-break font-monospace fs-4 text-center fw-medium">
Ces termes et conditions, ainsi que notre politique de confidentialité, constituent 
<br>l'intégralité de l'accord entre vous et nous en relation avec votre utilisation de ce site 
<br>web, et remplacent tous les accords antérieurs en ce qui concerne votre utilisation de ce site web. </p>

<p class="fs-3 text-center fw-bolder">Droit Applicable et Juridiction :</p>
<p class="text-break font-monospace fs-4 text-center fw-medium">
Ces termes et conditions seront régis et interprétés conformément au droit applicable de 
<br>[votre juridiction], et tout litige relatif à ces termes et conditions sera soumis à la 
<br>juridiction exclusive des tribunaux de Missty.</p>

<p class="fs-3 text-center fw-bolder">Dont:</p>
<p class="text-break font-monospace fs-4 text-center fw-medium">
En utilisant ce site web, vous acceptez ces termes et conditions dans leur intégralité.
<br>Vous nous donnez ainsi votre ame aussi qu'un chèque de 3 millions d'euro ainsi que tout chat présent à votre domicile
<br>juridiction exclusive des tribunaux de Missty.</p>

<style>
    body{
    margin: 0 0 0 0;
    background-color:#C7814A ;
}
</style>

</body>
{% endblock %}
